<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgettoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProgettoApp.Properties.Settings>
            <setting name="StorageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IsStorageSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoAccept" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPrivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Guid" serializeAs="String">
                <value />
            </setting>
        </ProgettoApp.Properties.Settings>
    </userSettings>
</configuration>